In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime

end = datetime.date.today()
start = end - datetime.timedelta(700)
stockLabel = 'AAPL'
csv_url = 'https://query1.finance.yahoo.com/v7/finance/download/{stockLabel}?period1={start}&period2={end}&interval=1d&events=history'.format(
    stockLabel=stockLabel,
    start=start.strftime("%s"),
    end=end.strftime("%s")
)
print(csv_url)
req = requests.get(csv_url)
url_content = req.content
# print(url_content)
s = str(url_content, 'utf-8')

data = StringIO(s)

df = pd.read_csv(data).set_index('Date')

df

https://query1.finance.yahoo.com/v7/finance/download/AAPL?period1=1564956000&period2=1625436000&interval=1d&events=history

                  Open        High  ...   Adj Close     Volume
Date                                ...
2019-08-05   49.497501   49.662498  ...   47.445263  209572000
2019-08-06   49.077499   49.517502  ...   48.343418  143299200
2019-08-07   48.852501   49.889999  ...   48.844028  133457600
2019-08-08   50.049999   50.882500  ...   49.921326  108038000
2019-08-09   50.325001   50.689999  ...   49.509953   98478800
...                ...         ...  ...         ...        ...
2021-06-28  133.410004  135.250000  ...  134.779999   62111300
2021-06-29  134.800003  136.490005  ...  136.330002   64556100
2021-06-30  136.169998  137.410004  ...  136.960007   63261400
2021-07-01  136.600006  137.330002  ...  137.270004   52485800
2021-07-02  137.899994  140.000000  ...  139.960007   78852600

[483 rows x 6 columns]